:root {
  --primary-color: #865DFF;
  --secondary-coor: #E384FF;
  --background-color: #191825;
  --text-color: white;
}

.App {
  display: flex;
  flex-direction: column;

  height: 100vh;
  height: 100svh;

  overflow: hidden;

  text-align: center;

  color: var(--text-color);
  
  background-color: var(--background-color);
}

.quiz-header {
  background-color:  var(--primary-color);

  display: flex;
  justify-content: space-between;
  align-items: center;
}


.song-title {
  margin: 0;
  padding: 0.5rem 0;
  font-size: 1.2rem;
}

.header-side-content {
  margin: 0;
  padding: 0 .5rem;
  font-size: 0.8rem;
}


.lyrics-container {
  padding: 0 1rem 20rem 1rem;
  
  flex-grow: 1;
  overflow-y: scroll;
}

.input-container input {
  width: 100%;
  border: none;

  font-size: 1rem;
  padding: .5rem 0rem;

  background-color: var(--secondary-coor);
  color: var(--text-color);
  text-align: center;

  border-radius: 0;
}


textarea:focus, input:focus{
  outline: none;
}

.input-container input::placeholder {
  opacity: .5;
  color: white;
}

@media screen and (min-width: 600px) and (min-height: 600px) {
  .song-title {
    font-size: 1.75rem;
    padding: .8rem 0rem;
  }

  .header-side-content {
    font-size: 1.2rem;
    padding: 0 .8rem;
  }

  .input-container input {
    font-size: 1.5rem;
    padding: .8rem 0;
  }
}
